.benefit{
    margin: 0px 30px;
    margin-top: 80px;
}

.benefit-desc{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.benefit-desc button {
    border: none;
    outline: none;
    padding: 14px 25px;
    background-color: white;
    border-radius: 6px;
    font-size: 0.9em;
    font-weight: 100;
    cursor: pointer;
}

.benefit-desc p{
    color: rgb(128, 128, 128);
    width: 60%;
    font-size: 16px;
    line-height: 1.2;
}

.benefit h1{
    font-size: 38px;
}

.benefit-cards{
    margin-top: 60px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.benefit-card{
    background-color: white;
    max-width: 400px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.benefit-card h1{
    text-align: right;
    font-size: 60px;
    margin-bottom: 10px;
}

.benefit-card h2{
    font-size: 20px;
    font-weight: 500;
}

.custom{
    margin-top: 30px;
    display: flex;
    justify-content: right;
    align-items: end;
}

.custom-btn {
    background-color: #f1f1f36b;
    border-radius: 5px;
    border: 1px solid  #f1f1f36b;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

@media (max-width: 480px) {
    .benefit{
        margin: 0px;
        margin-top: 80px;
    }
    .benefit-desc{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: start;
        align-items: start;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .benefit h1{
        margin-left: 20px;
    }
    .benefit-desc p{ 
        width: 95%;
        margin-left: 10px;
        margin-top: 10px;
    }
  }
  