.home{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.content{
    position: relative;
    display: block;
    max-width: 650px;
    align-items: center;
    padding: 0px 30px;
}

.abs-line{
    position: absolute;
    top: 10px;
    left: 5px;
}

.unlock{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.current{
    background-color: #FFF4E5;
    border-radius: 4px;
    padding: 8px;
   
}

.unlock span{
    color: #FF9500;
    font-size: 2rem;
    font-weight: 600;
    margin: 0px 10px;
}

.unlock h1{
   font-weight: 600;
}

.content h2{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.content p{
    margin-bottom: 50px;
}

.explore-btn{
    border: none;
    outline: none;
    padding: 14px 25px;
    background-color: #FF9500;
    border-radius: 6px;
    color: white;
    font-size: 0.8em;
    font-weight: 100;
    cursor: pointer;
    margin-right: 10px;
}

.viewprice-btn{
    border: none;
    outline: none;
    padding: 14px 25px;
    background-color: white;
    border-radius: 6px;
    font-size: 0.9em;
    font-weight: 100;
    cursor: pointer;
}

@media (max-width: 480px) {
    .unlock span{
        font-size: 1rem;
        margin: 0px 7px;
    }
    .unlock h1{
        font-size: 0.9em;
        font-weight: 500;
     }
}